@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "editorial";
    font-weight: 400;
    src: url("./fonts/EditorialNew-Regular.otf");
  }
  @font-face {
    font-family: "gt-black";
    font-weight: 900;
    src: url("./fonts/GT-America-Extended-Black.otf");
  }
  @font-face {
    font-family: "gt-regular";
    font-weight: 400;
    src: url("./fonts/GT-America-Extended-Regular.otf");
  }
  @font-face {
    font-family: "montreal-bold";
    font-weight: 800;
    src: url("./fonts/NeueMontreal-Bold.otf");
  }
  @font-face {
    font-family: "montreal-regular";
    font-weight: 400;
    src: url("./fonts/NeueMontreal-Regular.otf");
  }
}
