@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "neue";
    font-weight: 400;
    src: url("../src/fonts/NeueMontreal-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "pangram-rounded";
    font-weight: 700;
    src: url("../src/fonts/PPPangramSansRounded-NarrowExtraboldItalic.otf");
  }
  @font-face {
    font-family: "object-sans";
    font-weight: 400;
    src: url("../src/fonts/ObjectSans-Regular.otf");
  }

  @font-face {
    font-family: "thunder-black";
    font-weight: 900;
    src: url("../src/fonts/Thunder-BlackLC.otf");
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
