@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "neue";
        font-weight: 400;
        src: url("../src/fonts/NeueMontreal-Regular.otf") format("opentype");
    }
}